body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;

  }
  #container {
    display: block;
    margin: 0 auto;}
.background{
  position: absolute;
  width: 100vw;
  height: 98vh;
  top: 0px; 
  left: 0px; 
  object-fit: cover;
   z-index: 0;
}
.logo{
  cursor: pointer;
  border-style: none;
 width: 15%;
 position: absolute;
 margin-left: 50px;

}
.nav-navbar{
  display:flex;
  justify-content:center;
  align-items: center;
  position: relative;
  left:300px;
  top: 40px;  
  color: White;
  font-size: 20px;
}

.nav-a{
  text-decoration: none;
  color:black;
  font-weight: bold;
  
}
.nav-item{
  line-height: 40px;
  display: block
}
h2 {
  color:red;
  position: absolute;
  margin-top: 560px;
  margin-left: 120px;
  font-size: 20px;
  font-family: "Brush Script MT", cursive;
  font-size: 30px;
   font-style: normal; 
  font-variant: normal; 
  font-weight: 700;
   line-height: 26.4px; 
}

h6 {
  font-size: 20px;
  font-weight: 400;
  color:dodgerblue;
  position: absolute;
  margin-top: 600px;
  margin-left: 120px;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}
.controls {
  display: flex;
   justify-content: center;
   align-items: center;
   gap: 0 50px;
 }
.shuffle,
.back,
.forward,
.repeat{
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: blue;
 margin-top: -100px;
}
.play{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: blue;
  margin-top: -100px;
}
.audio-progress {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 30%;
  margin-top: 610px;
  margin-left: 530px;
}

.progress {
  grid-column: 1 / -1;
  margin-bottom: 0.8rem;
  text-align: center;
  background-color: #3d3a4b;
  height: 70%;
  border-radius: 0.8rem;
  cursor: pointer;
  position: relative;

}

.progress-head {
  position: absolute;
  background-color: #fafafa;
   height: 1.2rem;
  width: 1.2rem;
  top: 0;
  left: 0;
  transform: translate(-50%, -32%);
  border-radius: 100%;
  z-index: 2;
  box-shadow: 0 0 0 3px #aaabf8;
}

.progress-bar {
  background-color: #fff;
  position: absolute;
  width: 0%;
  border-radius: 0.8rem;
  height: 100%;
}

.current-time {
margin-top: -4px;
margin-left: -60px;
  position: absolute;
}

.duration {
 margin-top: -4px;
 margin-left: 465px;
  position: absolute;
}
.img{
  position: absolute;
  width: 5%;
  margin-top: 550px;
  margin-left: 10px;
}
