body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
  }
  #container {
    display: block;
    margin: 0 auto;}
.background{
  position: absolute;
  width: 100vw;
  height: 98vh;
  top: 0px; 
  left: 0px; 
  object-fit: cover;
   z-index: 0;
} 
.logo{
  cursor: pointer;
  border-style: none;
 width: 15%;
 position: absolute;
 margin-left: 50px;

}
.nav-navbar{
  display:flex;
  justify-content:center;
  align-items: center;
  position: relative;
  left:300px;
  top: 40px;  
  color: White;
  font-size: 20px;
}

.nav-a{
  text-decoration: none;
  color:black;
  font-weight: bold;
  
}
.nav-item{
  line-height: 40px;
  display: block
}

h2 {
  margin-top: 320px;
  margin-left: 150px;
  font-size: 20px;
  color:blue;
  font-family: Rubik Bubbles;
  position: absolute;
}

h6 {
  font-size: 15px;
  margin-top: 370px;
  font-weight: 400;
  color:red;
  font-family: Sevillana;
  margin-left: 150px;
  position: absolute;
}

.audio-progress {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 40%;
  margin-top: 330px;
  margin-left: 500px;
}

.progress {
  grid-column: 1 / -1;
  margin-bottom: 0.8rem;
  text-align: center;
  background-color: #3d3a4b;
  height: 0.4rem;
  border-radius: 0.8rem;
  cursor: pointer;
  position: relative;
}

.progress-head {
  position: absolute;
  background-color: #1E90FF;
  height: 1.2rem;
  width: 1.2rem;
  top: 0;
  left: 0;
  transform: translate(-50%, -32%);
  border-radius: 100%;
  z-index: 2;
  box-shadow: 0 0 0 3px white;
}

.progress-bar {
  background-color:#1E90FF;
  height: 100%;
  position: relative;
  width: 0%;
  border-radius: 0.8rem;
}

.current-time {
  position: absolute;
}

.duration {
  margin-left: 560px;
  position: absolute;
}

.audio-btns {
  width: 300px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 660px;
  position: absolute;
margin-top: 280px;
}

.btn {
  cursor: pointer;
  border: unset;
  box-shadow: unset;
  background-color: unset;
  font-size: 1.4rem;
  color:black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.play {
  background: linear-gradient(to right, #425ef0, #7854fb);
  text-align: center;
  border-radius: 100%;
  padding: 1rem 1.2rem;
  
}
.img {
  height: 100%;
  width: 100%;
}

.audio-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.audio-img {
  width: 100px;
  height: 100px;
  position: absolute;
  margin-top: 300px;
}
.audio-img-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;

}
.audio-img img {
  border-radius: 100%;
  
}

